<%= form_with(model: menu_item, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <div class="border">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="field">
    <%= form.label :price %>
    <div class="border">
      <%= form.number_field :price %>
    </div>
  </div>

  <div class="field">
    <%= form.select :items, options_for_select(item_select), {:include_blank => false}, {class: 'ms-container', :multiple => true, :size => 5 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>