<div class="container">
    <div class="row mt-5">
        <div class="col-4 mx-auto">
            <p id="notice"><%= notice %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">            
          <p>
            <strong>Name:</strong>
            <%= @item.name %>
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <p>
            <strong>Amount:</strong>
            <%= @item.amount %>
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <p>
            <strong>Food:</strong>
            <%= @item.food %>
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
          <p>
            <strong>Cost per unit:</strong>
            <%= @item.cost_per_unit %>
          </p>
        </div>
    </div>
     <div class="row">
        <div class="col-4 mx-auto">
          <%= link_to 'Edit', edit_item_path(@item) %>  |
          <%= link_to 'Back', items_path %>
          </div>
          </div>
</div>